*.iml
*.ipr
*.ids
*.iws
.idea/

.project
.metadata
local.properties
.classpath
.settings/
.loadpath


target/

.gradle
/build/classes
/build/reports
/build/resources
/build/test-results
/build/tmp

*.log*
/classes/
